* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: 'Rubik', sans-serif;
  background-color: #fdf2e9;
}

p {
  margin-bottom: 2rem;
}

.confirm-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 60rem;
  min-width: 40rem !important;
  background: rgba(255, 255, 255, 0.8);
  padding: 5rem 3rem !important;
  box-shadow: 2px 2px 2px rgba (0, 0, 0, 0.3);
  text-align: justify;
}

.container p {
  margin-bottom: 1.7rem;
  /* line-height: 1.7; */
}

.color__primary {
  color: #e67e22;
  font-weight: 600;
}

.color__secondary {
  color: black;
  font-weight: 600;
}

.paragraph-1 span {
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.8;
}

.paragraph-3 {
  line-height: 1.3;
}

.goback {
  position: relative;
  left: 50%;
  bottom: -2rem;
  transform: translateX(-50%);
}

/* .goback:hover {
  color: black;
} */
